link(rel="stylesheet", href="/css/bottom.css")
div.bottomBar
	div.bottomBarCell
		a(href="https://github.com/OBrezhniev").bottomLabelLeft.leftMargin Oleksandr Brezhniev
	div.bottomBarCell.right
		span.bottomLabelRight Proof of Delivery